# Manipulación de cadenas de texto
Ejemplos prácticos en Python para la clase.

### Declaración de cadenas

In [ ]:

# Cadenas entre comillas simples
mensaje1 = 'Hola mundo'
print(mensaje1)

# Cadenas entre comillas dobles
mensaje2 = "Hola mundo"
print(mensaje2)

# Cadenas multilínea con triple comillas
mensaje3 = """Este es un
mensaje
multilínea"""
print(mensaje3)

### Métodos básicos de cadenas

#### .upper()

In [ ]:

texto = "python"
print(texto.upper())  # "PYTHON"

#### .lower()

In [ ]:

texto = "PYTHON"
print(texto.lower())  # "python"

#### .strip()

In [ ]:

texto = "   datos   "
print(texto.strip())  # "datos"

#### .replace()

In [ ]:

texto = "Hola mundo"
print(texto.replace("mundo", "Python"))  # "Hola Python"

#### .split()

In [ ]:

texto = "manzana,pera,plátano"
lista_frutas = texto.split(",")
print(lista_frutas)  # ['manzana', 'pera', 'plátano']

#### .join()

In [ ]:

frutas = ["manzana", "pera", "plátano"]
texto = ", ".join(frutas)
print(texto)  # "manzana, pera, plátano"

### Formateo de cadenas con f-strings

In [ ]:

nombre = "Ana"
edad = 30
print(f"Hola, mi nombre es {nombre} y tengo {edad} años.")

### Ejemplo práctico: limpieza de texto

In [ ]:

nombre = "   juan pérez   "

# Limpiamos:
nombre_limpio = nombre.strip().title()  # Quitar espacios y poner la primera letra en mayúscula
print(nombre_limpio)  # "Juan Pérez"

### Actividad 1: Nombre en mayúsculas, minúsculas y title case

In [ ]:

nombre = input("Ingrese su nombre completo: ")

print("En mayúsculas:", nombre.upper())
print("En minúsculas:", nombre.lower())
print("En title case:", nombre.title())

### Actividad 2: Separar y ordenar palabras

In [ ]:

entrada = input("Ingrese palabras separadas por comas: ")
palabras = entrada.split(",")
palabras_ordenadas = sorted([p.strip() for p in palabras])

print("Palabras ordenadas:", palabras_ordenadas)

### Actividad 3: Generar códigos de productos

In [ ]:

producto = input("Ingrese el nombre del producto: ")
codigo = producto.strip().lower().replace(" ", "-")
print("Código generado:", codigo)